connector_bike_stations.json
[{"id":"83b2e8e2.e08798","type":"tab","label":"[connector] Bike stations","disabled":false,"info":""},{"id":"6c4cbb91.d8365c","type":"http request","z":"83b2e8e2.e08798","name":"GET pernety bike station last status","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://opendata.paris.fr/api/records/1.0/search/?dataset=velib-disponibilite-en-temps-reel&q=pernety&rows=1","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":120,"wires":[["7055f2ba.d80bcc"]]},{"id":"a6fa71e2.a8c6a8","type":"inject","z":"83b2e8e2.e08798","name":"Send Data Message trigger","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"*/30 0-23 * * *","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":200,"y":60,"wires":[["6c4cbb91.d8365c"]]},{"id":"7055f2ba.d80bcc","type":"template","z":"83b2e8e2.e08798","name":"convert to Data Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n   \"ts\":  \"{{payload.records.0.record_timestamp}}\",\n   \"m\":   \"velibDispo1\",\n   \"loc\": [{{payload.records.0.geometry.coordinates.1}}, {{payload.records.0.geometry.coordinates.0}}],\n   \"v\": {\n      \"ebike\": {{payload.records.0.fields.ebike}},\n      \"capacity\": {{payload.records.0.fields.capacity}},\n      \"name\": \"{{payload.records.0.fields.name}}\",\n      \"nom_arrondissement_communes\": \"{{payload.records.0.fields.nom_arrondissement_communes}}\",\n      \"numbikesavailable\": {{payload.records.0.fields.numbikesavailable}},\n      \"mechanical\": {{payload.records.0.fields.mechanical}}\n   },\n   \"t\" : [ \"velib-disponibilite-en-temps-reel\"]\n}","output":"json","x":330,"y":180,"wires":[["f98d0b9d.563798"]]},{"id":"f98d0b9d.563798","type":"mqtt out","z":"83b2e8e2.e08798","name":"publish to dev/data","topic":"dev/data","qos":"0","retain":"","broker":"37c509b3.9c2ab6","x":550,"y":180,"wires":[]},{"id":"35d8590a.e5293e","type":"mqtt out","z":"83b2e8e2.e08798","name":"publish to dev/data","topic":"dev/data","qos":"0","retain":"","broker":"30c7e11a.a354ce","x":550,"y":360,"wires":[]},{"id":"ce9965f.9ff1d98","type":"template","z":"83b2e8e2.e08798","name":"convert to Data Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n   \"ts\":  \"{{payload.records.0.record_timestamp}}\",\n   \"m\":   \"velibDispo1\",\n   \"loc\": [{{payload.records.0.geometry.coordinates.1}}, {{payload.records.0.geometry.coordinates.0}}],\n   \"v\": {\n      \"ebike\": {{payload.records.0.fields.ebike}},\n      \"capacity\": {{payload.records.0.fields.capacity}},\n      \"name\": \"{{payload.records.0.fields.name}}\",\n      \"nom_arrondissement_communes\": \"{{payload.records.0.fields.nom_arrondissement_communes}}\",\n      \"numbikesavailable\": {{payload.records.0.fields.numbikesavailable}},\n      \"mechanical\": {{payload.records.0.fields.mechanical}}\n   },\n   \"t\" : [ \"velib-disponibilite-en-temps-reel\"]\n}","output":"json","x":330,"y":360,"wires":[["35d8590a.e5293e"]]},{"id":"5b9367a4.68b898","type":"http request","z":"83b2e8e2.e08798","name":"GET marne bike station last status","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://opendata.paris.fr/api/records/1.0/search/?dataset=velib-disponibilite-en-temps-reel&q=\"Marne - Charles de Gaulle\"&rows=1","tls":"db41d655.de4ab8","persist":false,"proxy":"","authType":"","x":300,"y":300,"wires":[["ce9965f.9ff1d98"]]},{"id":"839728f9.fb0798","type":"inject","z":"83b2e8e2.e08798","name":"Send Data Message trigger","repeat":"","crontab":"*/30 0-23 * * *","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":200,"y":240,"wires":[["5b9367a4.68b898"]]},{"id":"588f5b2c.07a41c","type":"comment","z":"83b2e8e2.e08798","name":"Push to Live Objects data from 2 bike stations, seen as 2 MQTT devices","info":"","x":320,"y":20,"wires":[]},{"id":"37c509b3.9c2ab6","type":"mqtt-broker","z":"","name":"Live Objects pernety","broker":"liveobjects.orange-business.com","port":"8883","tls":"db15f8fa.329c98","clientid":"urn:lo:nsid:mqttnodered:pernety","usetls":true,"compatmode":false,"keepalive":"30","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30c7e11a.a354ce","type":"mqtt-broker","z":"","name":"Live Objects alfortville","broker":"liveobjects.orange-business.com","port":"8883","tls":"c9e2e40b.309f68","clientid":"urn:lo:nsid:mqttnodered:alfortville","usetls":true,"compatmode":false,"keepalive":"30","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"db41d655.de4ab8","type":"tls-config","z":"","name":"TLS-config-basic-no-checkings","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"db15f8fa.329c98","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"c9e2e40b.309f68","type":"tls-config","z":"","name":"tls-config-verifyServerCertif","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"DigiCertRootCaCertif.pem","servername":"","verifyservercert":true}]