enrichment_pipeline.json
[{"id":"f0e10977.184ab8","type":"tab","label":"[enrichment] Pipeline","disabled":false,"info":""},{"id":"46245327.762e6c","type":"http in","z":"f0e10977.184ab8","name":"transform","url":"/transform","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["e853c9bc.447bd"]]},{"id":"1a96e254.3d4bde","type":"http response","z":"f0e10977.184ab8","name":"","statusCode":"","headers":{},"x":670,"y":180,"wires":[]},{"id":"e853c9bc.447bd","type":"function","z":"f0e10977.184ab8","name":"store initial msg","func":"msg.request = msg.payload;\nmsg.nom_arrondissement_communes = msg.payload.value.nom_arrondissement_communes;\n//msg.lat = msg.payload.location.lat;\n//msg.lon = msg.payload.location.lon;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":240,"wires":[["9d2a5a1e.15151"]]},{"id":"c2074e88.a6d5b8","type":"http request","z":"f0e10977.184ab8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":80,"wires":[["d49e3527.e282b8"]]},{"id":"faca70b0.885d48","type":"inject","z":"f0e10977.184ab8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":true,\"name\":\"test pipeline\",\"priorityLevel\":0,\"steps\":[{\"type\":\"externalTransformation\",\"name\":\"appspot data enricher\",\"url\":\"https://node-red-1-nodered-enabler-prod.eu-b.kmt.orange.com/node-red/api/5f58d4217bfacb7e2b2b89a0/transform\",\"headers\":{\"Authorization\":[\"Basic XXXXXXX\"]}}]}","payloadType":"json","x":110,"y":80,"wires":[["741ef007.c83ec"]]},{"id":"741ef007.c83ec","type":"function","z":"f0e10977.184ab8","name":"set URL","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['X-API-KEY'] = 'XXX';\n\nmsg.method = \"POST\";\n\nmsg.url = \"https://liveobjects.orange-business.com/api/v0/pipelines\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":80,"wires":[["c2074e88.a6d5b8"]]},{"id":"d49e3527.e282b8","type":"debug","z":"f0e10977.184ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":80,"wires":[]},{"id":"64bcc973.dde1f","type":"comment","z":"f0e10977.184ab8","name":"Pipeline creation (on shot call)","info":"","x":160,"y":40,"wires":[]},{"id":"4273e6e8.73f698","type":"comment","z":"f0e10977.184ab8","name":"Transformation called by the custom pipeline to enrich device data (here {{city}} T°)","info":"","x":330,"y":140,"wires":[]},{"id":"9d2a5a1e.15151","type":"http request","z":"f0e10977.184ab8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q={{nom_arrondissement_communes}},fr&appid=2a26d4844a8b4dae4b89c4f90dd10597","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":240,"wires":[["dee2fe68.2d18a8"]]},{"id":"dee2fe68.2d18a8","type":"function","z":"f0e10977.184ab8","name":"Add temperature","func":"msg.tmp = msg.payload;\nmsg.payload = msg.request;\n\nmsg.payload.value.temperature = msg.tmp.main.temp - 273.15;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["1a96e254.3d4bde"]]}]