processor_bike_alert.json
[{"id":"44cb1cc3.28a54c","type":"tab","label":"[processor] Bike alert","disabled":false,"info":""},{"id":"ab706eb2.518d1","type":"mqtt in","z":"44cb1cc3.28a54c","name":"","topic":"fifo/vantiqFifo","qos":"2","datatype":"auto","broker":"fee6051f.6515","x":90,"y":160,"wires":[["d75065cc.8985c"]]},{"id":"d75065cc.8985c","type":"json","z":"44cb1cc3.28a54c","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":160,"wires":[["7f371b79.a25014"]]},{"id":"70efd3a.1b6832c","type":"debug","z":"44cb1cc3.28a54c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"total","targetType":"msg","x":380,"y":360,"wires":[]},{"id":"50b9003f.d19858","type":"function","z":"44cb1cc3.28a54c","name":"sum availabilities","func":"// get values from msg\nvar numbikes = msg.payload.value.numbikesavailable;\nvar name = msg.payload.value.name;\n\n// update availability array\nif (msg.availability === null ) msg.availability={};\nvar availability = msg.availability;\navailability[name]=numbikes;\n\n// calculate total availability\nvar total = 0;\nObject.keys(availability).forEach(k=>{node.warn(k+' => '+availability[k]); total += availability[k]})\n//node.warn(\"total : \" + total);\n\nmsg.payload = msg.payload + \"|\" + availability[\"Pernety - Raymond Losserand\"] + \"|\" + availability[\"Marne - Charles de Gaulle\"] + \"|\";\nmsg.total = total;\n\n//msg.topic   = name; // mandatory for charts to display a label\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["70efd3a.1b6832c","ada8bb78.38a7e8","ae2ffa10.195358"]]},{"id":"ada8bb78.38a7e8","type":"change","z":"44cb1cc3.28a54c","name":"set context","rules":[{"t":"set","p":"availability","pt":"global","to":"availability","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[[]]},{"id":"7f371b79.a25014","type":"change","z":"44cb1cc3.28a54c","name":"get context","rules":[{"t":"set","p":"availability","pt":"msg","to":"availability","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":240,"wires":[["50b9003f.d19858"]]},{"id":"12f1d6a0.047721","type":"inject","z":"44cb1cc3.28a54c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["cfd4a2e5.42897"]]},{"id":"cfd4a2e5.42897","type":"change","z":"44cb1cc3.28a54c","name":"","rules":[{"t":"delete","p":"availability","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":60,"wires":[[]]},{"id":"c265bd1.be366c","type":"inject","z":"44cb1cc3.28a54c","name":"For test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\":{\"name\":\"Lans-en-Vercors\",\"numbikesavailable\":5}}","payloadType":"json","x":70,"y":360,"wires":[["7f371b79.a25014"]]},{"id":"ae2ffa10.195358","type":"switch","z":"44cb1cc3.28a54c","name":"if > 100","property":"total","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"},{"t":"lte","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":300,"wires":[["bb3e15fc.2c2cb8","780851a.d3f483"],["11ea6b78.79b0dd"]]},{"id":"bb3e15fc.2c2cb8","type":"debug","z":"44cb1cc3.28a54c","name":"ALERT ","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"\"ALERT\"","targetType":"jsonata","x":690,"y":340,"wires":[]},{"id":"11ea6b78.79b0dd","type":"debug","z":"44cb1cc3.28a54c","name":"DO NOTHING","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"\"DO NOTHING\"","targetType":"jsonata","statusVal":"\"DO NOTHING\"","statusType":"auto","x":720,"y":420,"wires":[]},{"id":"54f6faa3.b448d4","type":"http request","z":"44cb1cc3.28a54c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":300,"wires":[[]]},{"id":"780851a.d3f483","type":"template","z":"44cb1cc3.28a54c","name":"set mail","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n \"contact\": \n  {\n    \"to\": [\n      \"jeanmichel.ortholand@orange.com\"\n    ]\n  },\n  \"message\": {\n     \"title\": \"Hello\",\n     \"content\": \"Hello World !\"\n  }\n}\n","output":"json","x":700,"y":300,"wires":[["60391d98.6289ec"]]},{"id":"60391d98.6289ec","type":"function","z":"44cb1cc3.28a54c","name":"set request","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['X-API-KEY'] = '1aeeb719ccc34eb5ac92a1354cb2e078';\n\nmsg.method = \"POST\";\n\nmsg.url = \"https://liveobjects.orange-business.com/api/v0/contact\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":300,"wires":[["54f6faa3.b448d4"]]},{"id":"ad0070c.233301","type":"comment","z":"44cb1cc3.28a54c","name":"This first flow allow to reset the context","info":"","x":170,"y":20,"wires":[]},{"id":"c7f73e41.796638","type":"comment","z":"44cb1cc3.28a54c","name":"Get from Live Objects bike stations availabilities to sum and alert if sum > 100","info":"","x":290,"y":120,"wires":[]},{"id":"25e648c5.70e8f8","type":"comment","z":"44cb1cc3.28a54c","name":"Dummy station to test","info":"","x":120,"y":320,"wires":[]},{"id":"b27047eb.d3b228","type":"comment","z":"44cb1cc3.28a54c","name":"Format and send a mail with Live Objects if sum > 100","info":"","x":840,"y":260,"wires":[]},{"id":"fee6051f.6515","type":"mqtt-broker","z":"","name":"Live Objects Device","broker":"liveobjects.orange-business.com","port":"8883","tls":"5b95170f.22b128","clientid":"urn:lo:nsid:mqttnodered:my_device","usetls":true,"compatmode":true,"keepalive":"30","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5b95170f.22b128","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]